{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <svg width="24" height="24" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#AAAAAA">
            <path d="M4,16a7,7,0,0,1,7-7h8.36l-1.52.39-1.26,1.26a2,2,0,1,0,2.83,2.83l5-5a2,2,0,0,0,0-2.83l-5-5a2,2,0,0,0-2.83,2.83l1.17,1.17L19.3,5H11A11,11,0,0,0,2.78,23.31a2,2,0,0,0,3-2.66A7,7,0,0,1,4,16Z"/>
            <path d="M29.18,8.64a2,2,0,0,0-3,2.68A7,7,0,0,1,21,23H13l1.24-.42,1.16-1.16a2,2,0,0,0-2.83-2.83l-5,5a2,2,0,0,0,0,2.83l5,5a2,2,0,0,0,2.83-2.83l-1.22-1.22L13,27h8A11,11,0,0,0,29.18,8.64Z"/>
        </svg>

        <span class="sf-toolbar-value">{{ collector.countRequests }}</span>
        <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.totalTime) }}</span>
                <span class="sf-toolbar-label">s</span>
            </span>
    {% endset %}

    {% set text %}
        {% for index, call in collector.calls %}
            <div class="sf-toolbar-info-piece">
                <span style="display: table-cell">
                    {% if call.response %}
                        {{ call.response | simple_http_format_http_code_as_badge }}
                    {% else %}
                        <span class="sf-toolbar-status sf-toolbar-status-red">ERR</span>
                    {% endif %}
                </span>

                <a style="display: table-cell"
                   href="{{ path('_profiler', { 'token': token, 'panel': 'simplehttpprofiler' }) }}#request{{ index }}">
                    <span>{{ call.request.method }} {{ call.request.requestUri }}</span>
                </a>


            </div>

            <div class="sf-toolbar-info-piece">
                <b style="font-weight: normal">{{ '%0.2f'|format(call.time.total * 1000) ~ 'ms' }}</b>
                <b>
                    {{ call.request.schemeAndHttpHost }}
                    {% if call.debugLink %}
                        -
                        <a style="text-transform: uppercase;
                                  font-variant: small-caps;
                                  display: inline-block;
                                  background-color: rgba(255,255,255,0.3);
                                  text-decoration: none;
                                  font-size:9px;
                                  color: #333;
                                  padding: 1px 4px;"
                           href="{{ call.debugLink }}"
                           target="_blank">
                            <img style="height:10px;width:10px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=" />
                            debug link
                        </a>
                    {% endif %}

                    {% if call.sfDebugLink %}
                        -
                        <a style="text-transform: uppercase;
                                  font-variant: small-caps;
                                  display: inline-block;
                                  background-color: rgba(255,255,255,0.3);
                                  text-decoration: none;
                                  font-size:9px;
                                  color: #333;
                                  padding: 1px 4px;"
                           href="{{ call.sfDebugLink }}"
                           target="_blank">
                            <img style="height:10px;width:10px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=" />
                            SF debug link
                        </a>
                    {% endif %}
                </b>
            </div>


        {% endfor %}

    {% endset %}

    {% if not collector.countRequests  %}
        {% set status = 'normal' %}
    {% elseif collector.countErrors > 0 and collector.hasServerErrors %}
        {% set status = 'red' %}
    {% elseif collector.countErrors > 0 %}
        {% set status = 'yellow' %}
    {% else %}
        {% set status = 'green' %}
    {% endif %}

    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { link: "simplehttpprofiler", status: status } %}

{% endblock %}

{% block menu %}
    <span class="label {% if collector.hasServerErrors %}label-status-error{% elseif collector.hasClientErrors %}label-status-warning{% endif %}">
        <span class="icon">
            <svg width="24" height="24" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#AAAAAA">
                <path d="M4,16a7,7,0,0,1,7-7h8.36l-1.52.39-1.26,1.26a2,2,0,1,0,2.83,2.83l5-5a2,2,0,0,0,0-2.83l-5-5a2,2,0,0,0-2.83,2.83l1.17,1.17L19.3,5H11A11,11,0,0,0,2.78,23.31a2,2,0,0,0,3-2.66A7,7,0,0,1,4,16Z"/>
                <path d="M29.18,8.64a2,2,0,0,0-3,2.68A7,7,0,0,1,21,23H13l1.24-.42,1.16-1.16a2,2,0,0,0-2.83-2.83l-5,5a2,2,0,0,0,0,2.83l5,5a2,2,0,0,0,2.83-2.83l-1.22-1.22L13,27h8A11,11,0,0,0,29.18,8.64Z"/>
            </svg>
        </span>

        <strong>HTTP</strong>

        <span class="count">
            {{ collector.countRequests }} - {{ '%0.2f'|format(collector.totalTime * 1000) ~ 'ms' }}
        </span>
    </span>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/simplehttp/libs/highlightjs/highlightjs-8.5.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/simplehttp/simple-http-bundle.css') }}" />
{% endblock %}

{% block panel %}
    <table>
        <tr>
            <th width="120">
                Filter by hostname
            </th>
            <td>
                <select class="js-http-call-hosts-filter">
                    {% for key, host in collector.hosts %}
                        <option value="{{ key }}">{{ host }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    {% for index, call in collector.calls %}
        <a name="request{{ index }}"></a>
        {% include '@SimpleHttp/Collector/partials/call.html.twig' with { 'call': call } %}
    {% endfor %}

    <script type="text/javascript" src="{{ asset('bundles/simplehttp/libs/jquery/jquery-1.12.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simplehttp/libs/highlightjs/highlightjs-8.5.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simplehttp/simple-http-bundle.js') }}"></script>
{% endblock %}
